<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="SISAUTCON.Properties.Settings.ReportSeverConnectionString" connectionString="Data Source=.;Initial Catalog=Tributos;User ID=sa;Password=Servidor" providerName="System.Data.SqlClient" />
    <add name="TributosEntities" connectionString="metadata=res://*/MODELO.csdl|res://*/MODELO.ssdl|res://*/MODELO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tributos;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="preceduresEntities" connectionString="metadata=res://*/modelPrecudures.csdl|res://*/modelPrecudures.ssdl|res://*/modelPrecudures.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tributos;user id=sa;password=Server2010;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TributosEntities1" connectionString="metadata=res://*/modelProcedures2.csdl|res://*/modelProcedures2.ssdl|res://*/modelProcedures2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tributos;user id=sa;password=Server2010;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConsultasEntities" connectionString="metadata=res://*/modelProcedures1.csdl|res://*/modelProcedures1.ssdl|res://*/modelProcedures1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tributos;user id=sa;password=Server2010;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesConsultas" connectionString="metadata=res://*/consultas_model.csdl|res://*/consultas_model.ssdl|res://*/consultas_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tributos;user id=sa;password=Server2010;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>